@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

:root {
    /* ## Colors */

    /* ### Primary */

    --Scissors-Gradient: hsl(39, 89%, 49%), hsl(40, 84%, 53%);
    --Paper-Gradient: hsl(230, 89%, 62%), hsl(230, 89%, 65%);
    --Rock-Gradient: hsl(349, 71%, 52%), hsl(349, 70%, 56%);
    --Lizard-Gradient: hsl(261, 73%, 60%), hsl(261, 72%, 63%);
    --Cyan: hsl(189, 59%, 53%), hsl(189, 58%, 57%);

    /* ### Neutral */

    --Dark-Text: hsl(229, 25%, 31%);
    --Score-Text: hsl(229, 64%, 46%);
    --Header-Outline: hsl(217, 16%, 45%);
    --White: hsl(0, 0%, 100%);

    /* ### Background */

    --Radial-Gradient: hsl(214, 47%, 23%), hsl(237, 49%, 15%);
    --shadow: hsl(237, 49%, 15%);
}

*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 16px;
}

body {
    background: linear-gradient(var(--Radial-Gradient));
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    font-weight: 400;
    position: static;
}

header {
    width: 90%;
    height: 20%;
    border: 3px solid var(--Header-Outline);
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-score {
    text-align: center;
    background-color: var(--White);
    border-radius: 5px;
    padding: 5px 1rem;
}

.logo-game {
    width: 120px;
    height: 70px;
}

.title-score {
    color: var(--Score-Text);
    text-transform: uppercase;
}

#score {
    font-size: 2rem;
    color: var(--Dark-Text);
    font-weight: 700;
}

footer {
    width: 100%;
    text-align: center;
}

.btn-open-rules {
    background-color: transparent;
    border: 1px solid var(--White);
    border-radius: 5px;
    color: var(--White);
    font-size: .9rem;
    padding: 5px 2rem;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}

.step-1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

}

.paper-gradient {
    background: linear-gradient(white, white) padding-box,
        linear-gradient(var(--Paper-Gradient)) border-box;
}

.rock-gradient {
    background: linear-gradient(white, white) padding-box,
        linear-gradient(var(--Rock-Gradient)) border-box;
}

.scissors-gradient {
    background: linear-gradient(white, white) padding-box,
        linear-gradient(var(--Scissors-Gradient)) border-box;
}

.control-default-desing {
    border-radius: 50%;
    border: 10px solid transparent;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: absolute;
    cursor: pointer;
}

.objects-container{
    width: 400px;
    height: 100%;
    position: relative;
}


.step-1 :nth-child(2) {
    top: 10%;
    left: 20%;
}

.step-1 :nth-child(3) {
    top: 10%;
    right: 20%;

}

.step-1 :nth-child(4) {
    top: 50%;
    left: 50%;
    transform: translateX(-50%);

}

.container-triangle {
    z-index: -1;
}

.container-triangle>img {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rules {
    width: 100vh;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: var(--White);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}

.rules>h2 {
    color: var(--Dark-Text);
}

#close-modal-rules {
    cursor: pointer;
}


.step-2 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}


.your-option-picked-img,
.house-option-picked-img {
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.you-picked,
.house-picked {
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--White);
    text-transform: uppercase;
}

.shadow-bg-picked {
    border-radius: 50%;
    background-color: var(--shadow);
    opacity: .40;
}

.picked-img {
    position: relative;
    width: 120px;
    height: 120px;
}

.results {
    text-align: center;
    width: 100%;
}

.who-whin {
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 3rem;
    color: var(--White);
}

.winner-shadow {
    box-shadow: hsla(228, 25%, 31%, 0.877) 0px 0px 0px 15px,
        hsla(228, 25%, 31%, 0.781) 0px 0px 0px 40px,
        hsla(228, 25%, 31%, 0.733) 0px 0px 0px 60px;
    z-index: -1;
}

#play-again {
    padding: 10px 3rem;
    background-color: var(--White);
    color: var(--Dark-Text);
    font-weight: 600;
    font-size: .9rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.d-none {
    display: none;
}



@media(min-width: 767px) {
    .rules {
        width: 55vh;
        height: 60vh;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 5px;
    }

    #close-modal-rules {
        position: absolute;
        top: 7%;
        right: 5%;
    }

    .rules>h2 {
        align-self: flex-start;
        padding-left: 2rem;
    }

    footer {
        text-align: end;
        padding-right: 2rem;
    }

    .step-2 {
        width: 60%;
        align-items: center;
    }

    .picked-img {
        width: 150px;
        height: 150px;
    }

    .results {
        width: auto;
    }

    .house-option-picked-img {
        order: 1;
    }
}